<!DOCTYPE html>
<html lang="es">

<body>
  <mat-toolbar>
    <img src="../../../assets/img/Imagen1.png" width="130" height="70" style="margin-right: 30px">
    <button mat-button style="margin-right: 30px">Inicio</button>
    <button mat-button>Nuevo Paciente</button>
    <span style="flex: 1;"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <form class="data-item">
    <div class="container">
      <h1>DATOS GENERALES</h1>
      <div class="mensaje">
        <p>La información recolectada en la encuesta servirá para mejorar las prestaciones
          de salud del IESS Loja. La información obtenida no revelará sus datos personales ni las
          respuestas individuales.</p>
      </div>
      <div class="cedula">
        <label class="label-cedula" for="cedula">NÚMERO DE CÉDULA</label>
        <div mat-form-field class="custom-inputc">
          {{ userData?.cedula  }}
        </div>
      </div>
      <div class="nombre">
        <label class="label-nombre" for="nombre">NOMBRES Y APELLIDOS</label>
        <div class="custom-inputn">
          {{ userData?.nombre }}
        </div>
      </div>
      <div class="atencion">
        <label class="label-atencion" for="atencion">TIPO DE ATENCIÓN A BRINDAR</label>
        <div class="custom-inputa">
          {{ userData?.atencion }}
        </div>
      </div>
      <div class="afiliacion">
        <label class="label-afiliacion" for="afiliacion">TIPO DE AFILIACIÓN</label>
        <div class="custom-inputaf">
          {{ userData?.afiliacion }}
        </div>
      </div>
      <div class="sexo">
        <label class="label-sexo" for="sexo">SEXO</label>
        <div class="custom-inputsexo">
          {{ userData?.sexo }}
        </div>
      </div>
      <div class="edad">
        <label class="label-edad" for="edad">EDAD</label>
        <div class="custom-inputedad">
          {{ userData?.edad }}
        </div>
      </div>

      <div class="fechaNacimiento">
        <label class="label-fechaNacimiento" for="fechaNacimiento">FECHA DE NACIMIENTO</label>
        {{ userData?.fechaNacimiento }}
      </div>


      <div class="estado">
        <label class="label-estado" for="estado">ESTADO CIVIL</label>
        <div class="custom-inputestado">
          {{ userData?.estado }}
        </div>
      </div>
      <div class="laboral">
        <label class="label-laboral" for="laboral">ACTIVIDAD LABORAL</label>
        <div class="custom-inputlaboral">
          {{ userData?.laboral }}
        </div>
      </div>
      <div class="parroquia">
        <label class="label-parroquia" for="parroquia">PARROQUIA</label>
        <div class="custom-inputparroquia">
          {{ userData?.parroquia }}
        </div>
      </div>
      <div class="calles">
        <label class="label-calles" for="calles">CALLE PRINCIPAL Y SECUNDARIA</label>
        <div class="custom-inputcalles">
          {{ userData?.calles }}
        </div>
      </div>
      <div class="numcasa">
        <label class="label-numcasa" for="numcasa">NÚMERO DE CASA</label>
        <div class="custom-inputnumcasa">
          {{ userData?.numcasa }}
        </div>
      </div>
      <div class="telefono">
        <label class="label-telefono" for="telefono">TELÉFONO FIJO</label>
        <div class="custom-inputtelefono">
          {{ userData?.telefono }}
        </div>
      </div>
      <div class="mail">
        <label class="label-mail" for="mail">MAIL</label>
        <div class="custom-inputmail">
          {{ userData?.mail }}
        </div>
      </div>
      <div class="escolaridad">
        <label class="label-escolaridad" for="escolaridad">ESCOLARIDAD</label>
        <div class="custom-inputescolaridad">
          {{ userData?.escolaridad }}
        </div>
      </div>
      <div class="institucion">
        <label class="label-institucion" for="institucion">INSTITUCIÓN DONDE TRABAJA</label>
        <div class="custom-inputinstitucion">
          {{ userData?.institucion }}
        </div>
      </div>
      <div class="ocupacion">
        <label class="label-ocupacion" for="ocupacion">OCUPACIÓN</label>
        <div class="custom-inputocupacion">
          {{ userData?.ocupacion }}
        </div>
      </div>
      <div class="guia">
        <label class="label-guia" for="guia">¿LE GUSTARÍA RECIBIR GUIA PSICOLÓGICA?</label>
        <div class="custom-inputguia">
          {{ userData?.guia }}
        </div>
      </div>
    </div>

    <div class="container2">
      <h2>HÁBITOS PERSONALES</h2>
      <div class="alimentacion">
        <label class="label-alimentacion" for="alimentacion">ALIMENTACIÓN (CON QUE FRECUENCIA COME FRUTAS, VERDURAS, Y
          HORTALIZAS)</label>
        <div class="custom-inputalimentacion">
          {{ userData?.alimentacion }}
        </div>
      </div>
      <div class="fumar">
        <label class="label-fumar" for="fumar">FUMA CIGARRILLO</label>
        <div class="custom-inputfumar">
          {{ userData?.fumar }}
        </div>
      </div>
      <div class="sustancias">
        <label class="label-sustancias" for="sustancias">CONSUME OTRAS SUSTANCIAS ESTUPEFACIENTES</label>
        <div class="custom-inputsustancias">
          {{ userData?.sustancias }}
        </div>
      </div>
      <div class="ejercicio">
        <label class="label-ejercicio" for="ejercicio">EJERCICIO (¿al menos 30 minutos diarios?)</label>
        <div class="custom-inputejercicio">
          {{ userData?.ejercicio }}
        </div>
      </div>
      <div class="alcoholismo">
        <label class="label-alcoholismo" for="alcoholismo">ALCOHOLISMO</label>
        <div class="custom-inputalcoholismo">
          {{ userData?.alcoholismo }}
        </div>
      </div>
      <div class="antecedentes">
        <label class="label-antecedentes" for="antecedentes">ANTECEDENTES FAMILIARES</label>
        <div class="custom-inputantecedentes">
          {{ userData?.antecedentes }}
        </div>
      </div>
    </div>

    <div class="container3">
      <h3>ANTECEDENTES FAMILIARES</h3>
      <div class="diabetes">
        <label class="label-diabetes" for="diabetes">DIABETES(Z833)</label>
        <div class="custom-inputdiabetes">
          {{ userData?.diabetes }}
        </div>
      </div>
      <div class="patologia">
        <label class="label-patologia" for="patologia">PATOLOGÍA CARDÍACA O HIPERTENSIÓN</label>
        <div class="custom-inputpatologia">
          {{ userData?.patologia }}
        </div>
      </div>
      <div class="cancer">
        <label class="label-cancer" for="cancer">CÁNCER</label>
        <div class="custom-inputcancer">
          {{ userData?.cancer }}
        </div>
      </div>
      <div class="tiroidea">
        <label class="label-tiroidea" for="tiroidea">PATOLOGÍA TIROIDEA</label>
        <div class="custom-inputtiroidea">
          {{ userData?.tiroidea }}
        </div>
      </div>
      <div class="sobrepeso">
        <label class="label-sobrepeso" for="sobrepeso">SOBREPESO U OBESIDAD</label>
        <div class="custom-inputsobrepeso">
          {{ userData?.sobrepeso }}
        </div>
      </div>
      <div class="otros">
        <label class="label-otros" for="otros">OTROS</label>
        <div class="custom-inputotros">
          {{ userData?.otros }}
        </div>
      </div>
    </div>
    <button type="submit" mat-raised-button color="accent" class="custom-button"
      style="background-color: #7CADDC; color: #222940; width: 200px;">ENVIAR</button>
  </form>
</body>

</html>
