h1 {

    height: 170px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 70px;
    line-height: 82.03px;

    color: #222940;
    margin: 80px auto;
    text-align: center;
}

.mensaje {
    width: 1118px;
    height: 84px;
    top: 224px;
    left: 261px;

    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.13px;
    align-items: center;

    color: #484848;
    margin: -150px auto;
    text-align: center;
}

.cedula {
    position: absolute;
    left: 460px;
    bottom: 450PX;
    width: 952px;
    font-weight: 600;
}

.label-cedula {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.nombre {
    position: absolute;
    left: 460px;
    bottom: 360PX;
    width: 952px;
    font-weight: 600;
}

.label-nombre {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}


.atencion {
    position: absolute;
    left: 1090px;
    bottom: 450PX;
    width: 952px;
    font-weight: 600;
}

.label-atencion {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.afiliacion {
    position: absolute;
    left: 460px;
    bottom: 260PX;
    width: 952px;
    font-weight: 600;
}

.label-afiliacion {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.sexo {
    position: absolute;
    left: 840px;
    bottom: 260PX;
    width: 952px;
    font-weight: 600;
}

.label-sexo {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.edad {
    position: absolute;
    left: 1090px;
    bottom: 260PX;
    width: 952px;
    font-weight: 600;
}

.label-edad {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}




.fechaNacimiento {
    position: absolute;
    left: 460px;
    bottom: 85PX;
    width: 952px;
    font-weight: 600;
}

.label-fechaNacimiento {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}

.demo-inline-calendar-card {
    bottom: -50PX;
    width: 300px;

}

.estado {
    position: absolute;
    left: 1000px;
    bottom: 85PX;
    width: 952px;
    font-weight: 600;
    font-weight: 600;
}

.label-estado {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;

}



.laboral {
    position: absolute;
    left: 1000px;
    bottom: -25PX;
    width: 952px;
    font-weight: 600;
}

.label-laboral {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.parroquia {
    position: absolute;
    left: 1000px;
    bottom: -135PX;
    width: 952px;
    font-weight: 600;
}

.label-parroquia {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.calles {
    position: absolute;
    left: 460px;
    bottom: -280PX;
    width: 952px;
    font-weight: 600;
}

.label-calles {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.numcasa {
    position: absolute;
    left: 460px;
    bottom: -390PX;
    width: 952px;
    font-weight: 600;
}

.label-numcasa {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.telefono {
    position: absolute;
    left: 460px;
    bottom: -500PX;
    width: 952px;
    font-weight: 600;
}

.label-telefono {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.mail {
    position: absolute;
    left: 1000px;
    bottom: -390PX;
    width: 952px;
    font-weight: 600;
}

.label-mail {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.escolaridad {
    position: absolute;
    left: 1000px;
    bottom: -500PX;
    width: 952px;
    font-weight: 600;
}

.label-escolaridad {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.institucion {
    position: absolute;
    left: 460px;
    bottom: -620PX;
    width: 952px;
    font-weight: 600;
}

.label-institucion {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.ocupacion {
    position: absolute;
    left: 1000px;
    bottom: -620PX;
    width: 952px;
    font-weight: 600;
}

.label-ocupacion {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.guia {
    position: absolute;
    left: 460px;
    bottom: -740PX;
    width: 952px;
    font-weight: 600;
}

.label-guia {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.alimentacion {
    position: absolute;
    left: 460px;
    bottom: -990PX;
    width: 952px;
    font-weight: 600;
}

.label-alimentacion {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}




.fumar {
    position: absolute;
    left: 460px;
    bottom: -1100PX;
    width: 952px;
    font-weight: 600;
}

.label-fumar {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.sustancias {
    position: absolute;
    left: 460px;
    bottom: -1210PX;
    width: 952px;
    font-weight: 600;
}

.label-sustancias {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}


.ejercicio {
    position: absolute;
    left: 1000px;
    bottom: -990PX;
    width: 952px;
    font-weight: 600;
}

.label-ejercicio {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.alcoholismo {
    position: absolute;
    left: 1000px;
    bottom: -1100PX;
    width: 952px;
    font-weight: 600;
}

.label-alcoholismo {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.antecedentes {
    position: absolute;
    left: 1000px;
    bottom: -1210PX;
    width: 952px;
    font-weight: 600;
}

.label-antecedentes {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}





.diabetes {
    position: absolute;
    left: 460px;
    bottom: -1420PX;
    width: 952px;
    font-weight: 600;
}

.label-diabetes {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



h3 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 35px;
    line-height: 82.03px;
    color: #222940;
    margin-top: 380px;
    text-align: center;
}

h2 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 35px;
    line-height: 82.03px;
    color: #222940;
    margin-top: 1440px;
    text-align: center;
}

.patologia {
    position: absolute;
    left: 460px;
    bottom: -1530PX;
    width: 952px;
    font-weight: 600;
}

.label-patologia {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}


.cancer {
    position: absolute;
    left: 460px;
    bottom: -1635PX;
    width: 952px;
    font-weight: 600;
}

.label-cancer {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.tiroidea {
    position: absolute;
    left: 1000px;
    bottom: -1420PX;
    width: 952px;
    font-weight: 600;
}

.label-tiroidea {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.sobrepeso {
    position: absolute;
    left: 1000px;
    bottom: -1530PX;
    width: 952px;
    font-weight: 600;
}

.label-sobrepeso {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.otros {
    position: absolute;
    left: 1000px;
    bottom: -1635PX;
    width: 952px;
    font-weight: 600;
}

.label-otros {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.custom-button {
    margin-left: 850px;
    ;
    margin-top: 340px;
    font-size: 25px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: #222940;
    color: white;
    /* Cambia el color del texto si es necesario para asegurarte de que sea legible */
}

.linea-inferior {
    border-bottom: 1px solid #000;
}


