<!DOCTYPE html>
<html lang="es">

<body>
  <mat-toolbar>
    <img src="../../../assets/img/Imagen1.png" width="130" height="70" style="margin-right: 30px">
    <button mat-button style="margin-right: 30px">Inicio</button>
    <button mat-button>Nuevo Paciente</button>
    <span style="flex: 1;"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
  <form class="data-item">
    <div class="container">
      <h1>DATOS GENERALES</h1>
      <div class="mensaje">
        <p>La información recolectada en la encuesta servirá para mejorar las prestaciones
          de salud del IESS Loja. La información obtenida no revelará sus datos personales ni las
          respuestas individuales.</p>
      </div>
      <div class="cedula">
        <label class="label-cedula" for="cedula">NÚMERO DE CÉDULA<br><span
          class="linea-inferior">{{ userData?.cedula }}</span></label>
      </div>
      <div class="nombre">
        <label class="label-nombre" for="nombre">NOMBRES Y APELLIDOS<br><span
          class="linea-inferior">{{ userData?.nombre }}</span></label>
          
      </div>
      <div class="atencion">
        <label class="label-atencion" for="atencion">TIPO DE ATENCIÓN A BRINDAR<br><span
          class="linea-inferior">{{ userData?.atencion }}</span></label>    
      </div>

      <div class="afiliacion">
        <label class="label-afiliacion" for="afiliacion">TIPO DE AFILIACIÓN<br><span
          class="linea-inferior">{{ userData?.afiliacion }}</span></label>
      </div>

      <div class="sexo">
        <label class="label-sexo" for="sexo">SEXO<br><span
          class="linea-inferior">{{ userData?.sexo }}</span></label>
      </div>

      <div class="edad">
        <label class="label-edad" for="edad">EDAD<br><span
          class="linea-inferior">{{ userData?.edad }}</span></label>
      </div>

      <div class="fechaNacimiento">
        <label class="label-fechaNacimiento" for="fechaNacimiento">FECHA DE NACIMIENTO<br><span
          class="linea-inferior">{{ userData?.fechaNacimiento }}</span></label>
      </div>


      <div class="estado">
        <label class="label-estado" for="estado">ESTADO CIVIL<br><span
          class="linea-inferior">{{ userData?.estado }}</span></label>
      </div>

      <div class="laboral">
        <label class="label-laboral" for="laboral">ACTIVIDAD LABORAL<br><span
          class="linea-inferior">{{ userData?.laboral }}</span></label>
      </div>
      <div class="parroquia">
        <label class="label-parroquia" for="parroquia">PARROQUIA<br><span
          class="linea-inferior">{{ userData?.parroquia }}</span></label>
      </div>
      <div class="calles">
        <label class="label-calles" for="calles">CALLE PRINCIPAL Y SECUNDARIA<br><span
          class="linea-inferior">{{ userData?.calles }}</span></label>
      </div>

      <div class="numcasa">
        <label class="label-numcasa" for="numcasa">NÚMERO DE CASA<br><span
          class="linea-inferior">{{ userData?.numcasa }}</span></label>
      </div>
      <div class="telefono">
        <label class="label-telefono" for="telefono">TELÉFONO FIJO<br><span
          class="linea-inferior">{{ userData?.telefono }}</span></label>
      </div>
      <div class="mail">
        <label class="label-mail" for="mail">MAIL<br><span
          class="linea-inferior">{{ userData?.mail }}</span></label>
      </div>
      <div class="escolaridad">
        <label class="label-escolaridad" for="escolaridad">ESCOLARIDAD<br><span
          class="linea-inferior">{{ userData?.escolaridad }}</span></label>
      </div>
      <div class="institucion">
        <label class="label-institucion" for="institucion">INSTITUCIÓN DONDE TRABAJA<br><span
          class="linea-inferior">{{ userData?.institucion }}</span></label>
      </div>
      <div class="ocupacion">
        <label class="label-ocupacion" for="ocupacion">OCUPACIÓN<br><span
          class="linea-inferior">{{ userData?.ocupacion }}</span></label>
      </div>
      <div class="guia">
        <label class="label-guia" for="guia">¿LE GUSTARÍA RECIBIR GUIA PSICOLÓGICA?<br><span
          class="linea-inferior">{{ userData?.guia }}</span></label>
      </div>
    </div>

    <div class="container2">
      <h2>HÁBITOS PERSONALES</h2>
      <div class="alimentacion">
        <label class="label-alimentacion" for="alimentacion">ALIMENTACIÓN (CON QUE FRECUENCIA COME FRUTAS,<br> 
          VERDURAS, Y HORTALIZAS)<br><span
          class="linea-inferior">{{ userData?.alimentacion }}</span></label>
      </div>
      <div class="fumar">
        <label class="label-fumar" for="fumar">FUMA CIGARRILLO<br><span
          class="linea-inferior">{{ userData?.fumar }}</span></label>
      </div>
      <div class="sustancias">
        <label class="label-sustancias" for="sustancias">CONSUME OTRAS SUSTANCIAS ESTUPEFACIENTES<br><span
          class="linea-inferior">{{ userData?.sustancias }}</span></label>
      </div>
      <div class="ejercicio">
        <label class="label-ejercicio" for="ejercicio">EJERCICIO (¿al menos 30 minutos diarios?)<br><span
          class="linea-inferior">{{ userData?.ejercicio }}</span></label>
      </div>
      <div class="alcoholismo">
        <label class="label-alcoholismo" for="alcoholismo">ALCOHOLISMO<br><span
          class="linea-inferior">{{ userData?.alcoholismo }}</span></label>
      </div>
      <div class="antecedentes">
        <label class="label-antecedentes" for="antecedentes">ANTECEDENTES FAMILIARES<br><span
          class="linea-inferior">{{ userData?.antecedentes }}</span></label>
      </div>
    </div>

    <div class="container3">
      <h3>ANTECEDENTES FAMILIARES</h3>
      <div class="diabetes">
        <label class="label-diabetes" for="diabetes">DIABETES(Z833)<br><span
          class="linea-inferior">{{ userData?.diabetes }}</span></label>
      </div>
      <div class="patologia">
        <label class="label-patologia" for="patologia">PATOLOGÍA CARDÍACA O HIPERTENSIÓN<br><span
          class="linea-inferior">{{ userData?.patologia }}</span></label>
      </div>
      <div class="cancer">
        <label class="label-cancer" for="cancer">CÁNCER<br><span
          class="linea-inferior">{{ userData?.cancer }}</span></label>
      </div>
      <div class="tiroidea">
        <label class="label-tiroidea" for="tiroidea">PATOLOGÍA TIROIDEA<br><span
          class="linea-inferior">{{ userData?.tiroidea }}</span></label>
      </div>
      <div class="sobrepeso">
        <label class="label-sobrepeso" for="sobrepeso">SOBREPESO U OBESIDAD<br><span
          class="linea-inferior">{{ userData?.sobrepeso }}</span></label>
      </div>
      <div class="otros">
        <label class="label-otros" for="otros">OTROS<br><span
          class="linea-inferior">{{ userData?.otros }}</span></label>
      </div>
    </div>
    <button type="submit" mat-raised-button color="accent" class="custom-button"
    style="background-color: #222940; color: #FFFFFF; width: 200px;" [routerLink]="'/pagina-principal'">VOLVER</button>
  </form>
</body>

</html>
