h1 {
    height: 170px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 70px;
    line-height: 82.03px;

    color: #222940;
    margin: 80px auto;
    text-align: center;
}

.mensaje {
    width: 1138px;
    height: 84px;
    top: 224px;
    left: 261px;

    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.13px;
    align-items: center;

    color: #484848;
    margin: -150px auto;
    text-align: center;
}

.nombre {
    position: absolute;
    left: 1010px;
    bottom: 450PX;
    width: 952px;
    font-weight: 600;
}

.label-nombre {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.cedula {
    position: absolute;
    left: 360px;
    bottom: 450PX;
    width: 952px;
    font-weight: 600;
}

.label-cedula {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}




.peso {
    position: absolute;
    left: 360px;
    bottom: 330PX;
    width: 952px;
    font-weight: 600;
}

.label-peso {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.talla {
    position: absolute;
    left: 360px;
    bottom: 165PX;
    width: 952px;
    font-weight: 600;
}

.label-talla {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.cintura {
    position: absolute;
    left: 1010px;
    bottom: 330PX;
    width: 952px;
    font-weight: 600;
}

.label-cintura {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.presion {
    position: absolute;
    left: 1010px;
    bottom: 165PX;
    width: 952px;
    font-weight: 600;
}

.label-presion {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.custom-button {
    margin-left: 850px;
    margin-top: 680px;
    font-size: 25px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: #222940;
    color: white;
    /* Cambia el color del texto si es necesario para asegurarte de que sea legible */
}

.linea-inferior {
    border-bottom: 1px solid #000;
}