h1 {

    height: 170px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 70px;
    line-height: 82.03px;

    color: #222940;
    margin: 80px auto;
    text-align: center;
}

.mensaje {
    width: 918px;
    height: 84px;
    top: 224px;
    left: 261px;

    font-family: Roboto;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.13px;
    align-items: center;

    color: #484848;
    margin: -150px auto;
    text-align: center;
}

.cedula {
    position: absolute;
    left: 360px;
    bottom: 450PX;
    width: 952px;
    font-weight: 600;
}

.label-cedula {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.mujer {
    position: absolute;
    left: 360px;
    bottom: 270PX;
    width: 952px;
    font-weight: 600;
}

.label-mujer {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.enfermedades {
    position: absolute;
    left: 1060px;
    bottom: 270PX;
    width: 952px;
    font-weight: 600;
}

.label-enfermedades {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



h2 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 35px;
    line-height: 82.03px;
    color: #222940;
    margin-top: 490px;
    text-align: center;
}

.hipotirodismo {
    position: absolute;
    left: 360px;
    bottom: -25PX;
    width: 952px;
    font-weight: 600;
}

.label-hipotirodismo {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}




.diabetes {
    position: absolute;
    left: 360px;
    bottom: -235PX;
    width: 952px;
    font-weight: 600;
}

.label-diabetes {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.arterial {
    position: absolute;
    left: 360px;
    bottom: -345PX;
    width: 952px;
    font-weight: 600;
}

.label-arterial {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.cronica {
    position: absolute;
    left: 360px;
    bottom: -400PX;
    width: 952px;
    font-weight: 600;
}

.label-cronica {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.cancer {
    position: absolute;
    left: 360px;
    bottom: -530PX;
    width: 952px;
    font-weight: 600;
}

.label-cancer {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.obesidad {
    position: absolute;
    left: 1060px;
    bottom: -25PX;
    width: 952px;
    font-weight: 600;
}

.label-obesidad {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.dislipidemias {
    position: absolute;
    left: 1060px;
    bottom: -235PX;
    width: 952px;
    font-weight: 600;
}

.label-dislipidemias {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.personales {
    position: absolute;
    left: 1060px;
    bottom: -400PX;
    width: 952px;
    font-weight: 600;
}

.label-personales {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.otros {
    position: absolute;
    left: 1060px;
    bottom: -530PX;
    width: 952px;
    font-weight: 600;
}

.label-otros {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



h3 {
    font-family: Roboto;
    font-weight: 600;
    font-size: 35px;
    line-height: 82.03px;
    color: #222940;
    margin-top: 700px;
    text-align: center;
}

.valoracion {
    position: absolute;
    left: 1060px;
    bottom: -860PX;
    width: 952px;
    font-weight: 600;
}

.label-valoracion {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}

.otrosSelect {
    position: absolute;
    left: 360px;
    bottom: -950px;
    width: 952px;
    font-weight: 600;
}

.label-otrosSelect {
    position: absolute;
    left: 0px;
    bottom: 90px;
    color: #222940;
    font: Roboto;
}



.cie10 {
    display: inline-block;
    vertical-align: top;
    margin-left: 360px;
    margin-top: 20px;
    width: 952px;
    font-weight: 600;
}
.custom-button {
    margin-left: 850px;;
    margin-top: 150px;
    font-size: 25px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: #222940;
    color: white;
    /* Cambia el color del texto si es necesario para asegurarte de que sea legible */
}

.linea-inferior {
    border-bottom: 1px solid #000;
}
