<!DOCTYPE html>
<html lang="es">

<body>
    <mat-toolbar>
        <img src="../../../assets/img/Imagen1.png" width="130" height="70" style="margin-right: 30px">
        <button mat-button style="margin-right: 30px" [routerLink]="'/pagina-principal'">Inicio</button>
        <button mat-button [routerLink]="'/inicio'">Nuevo Paciente</button>
        <span style="flex: 1;"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>person</mat-icon>
        </button>
    </mat-toolbar>
    <form class="data-item">
        <div class="container">
            <h1>HISTORIAL CLINICO</h1>
            <div class="nombre">
                <label class="label-nombre" for="nombre">NÚMERO Y APELLIDOS: <span class="linea-inferior">{{
                        userData?.nombre }}</span></label>
            </div>
            <div class="cedula">
                <label class="label-cedula" for="cedula">CEDULA: <span class="linea-inferior">{{ userData?.cedula
                        }}</span></label>
            </div>
            <div class="atencion">
                <label class="label-atencion" for="atencion">FECHA INGRESO: <span class="linea-inferior">{{
                        userData?.fechaIngreso }}</span></label>

            </div>
            <div class="afiliacion">
                <label class="label-afiliacion" for="afiliacion">ULTIMA FECHA: <span class="linea-inferior">{{
                        userData?.fechaUltima }}</span></label>
            </div>
            <br>
            <br>
            <br>
            <br>
        </div>

        <div class="container">

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="cedula">
                        <th mat-header-cell *matHeaderCellDef> DATOS GENERALES </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="button-container">
                                <button mat-button (click)="revisarDatosGenerales(element)"> DATOS GENERALES </button>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombres">
                        <th mat-header-cell *matHeaderCellDef> ENFERMERÍA </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="button-container">
                                <button mat-button (click)="revisarEnfermeria(element)"> ENFERMERÍA </button>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="fechaIngreso">
                        <th mat-header-cell *matHeaderCellDef> PRIMERA CONSULTA </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="button-container">
                                <button mat-button (click)="revisarConsulta(element)"> PRIMERA CONSULTA </button>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Exámenes Column -->
                    <ng-container matColumnDef="examenes">
                        <th mat-header-cell *matHeaderCellDef> EXÁMENES </th>
                        <td mat-cell *matCellDef="let element"> EXÁMENES </td>
                    </ng-container>

                    <!-- C Subsecuente Column -->
                    <ng-container matColumnDef="c_subsecuente">
                        <th mat-header-cell *matHeaderCellDef> C. SUBSECUENTE </th>
                        <td mat-cell *matCellDef="let element"> C. SUBSECUENTE </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="historial">
                        <th mat-header-cell *matHeaderCellDef> FECHA </th>
                        <td mat-cell *matCellDef="let element"> {{element.fechaIngreso}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </form>
</body>

</html>